@import 'App/stylesheet/essentials/index.scss';

%normalizeInput{
    background: none;
    border: none;
    padding: 0;
    @extend %m-height;
    color:$mainColor;
    font-size: 14px;
    padding: 1em;
    padding-top: 0.8em;
}
.jsh-textarea{
    @extend %normalizeInput;
    resize: none;
    border: 1px solid $lightGray;
    border-radius: 4px;
    &__fullwidth{
        width: 100%;
    }
}