@import 'App/stylesheet/essentials/index.scss';

.jsh-blockquote{
    position: relative;
    font-size: 12px;
    line-height: 1.4em;
    margin-top:0;
    margin-bottom:0;
    &:after{
        content: "";
        position: absolute;
        width: 4px;
        height: 100%;
        background: $mainColor;
        top: 0;
        left: -40px;
    }
}