@import '~normalize.css/normalize.css';
@import 'essentials/index.scss';

$fontFamily : 'Helvetica';

body, html{
    font-family: $fontFamily;
    color: $mainColor;
    background-color:$grayBg; 
}
h1{
    @extend %h1;
}
h2{
    @extend %h2;
}
h3{
    @extend %h3;
}
h4{
    @extend %h4;
}

p{
    @extend %p;
    line-height: 1.3em;
}

input,
textarea{
    &:focus{
        outline: 2px solid $lightBlue;
    }
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    &:focus{
        outline: 2px solid $lightBlue;
    }
}